/Ejercisios examen/ejercisio01/nbproject/private/
/Ejercisios examen/ejercisio02/nbproject/private/
/Ejercisios examen/ejercisio03/nbproject/private/
/Ejercisios examen/ejercisio03/build/
/Ejercisios examen/ejercicio_ciclo_while_jugadores/nbproject/private/
/Ejercisios examen/ejercicio_ciclo_while_jugadores/build/
/Ejercisios examen/ejercisio05/nbproject/private/
/Ejercisios examen/ejercisio05/build/
/Ejercisios examen/ejercicio06/nbproject/private/
/Ejercisios examen/ejercicio06/build/
/Ejercisios examen/ejercicio07/nbproject/private/
/Ejercisios examen/ejercicio07/build/
/Ejercisios examen/ejercisio08/nbproject/private/
/Ejercisios examen/ejercisio08/build/
/Ejercisios examen/plantilla_while_if_else/nbproject/private/
/Ejercisios examen/plantilla_while_if_else/build/
